<div class="circle-container">

  <div class="container">
    <form action="/word_count" >
      <label for="target"><h3>Target Word</h3>
        <input type="text" name="target">
      </label>
      <label for="sentence"><h3>Text</h3>
          <textarea name="sentence" rows="8" cols="40"></textarea>
      </label><br>
      <button type="submit" name="button">Word Count</button>
    </form>
  </div>


</div>
