<form action="/word_count" >
  <label for="sentence">
    <input type="text" name="sentence">
  </label>
  <label for="target">
    <input type="text" name="target">
  </label>
  <button type="submit" name="button">Word Count</button>
</form>
