.container {
  margin-top: 20%;
}

.circle-container {
  margin:auto;
  border: solid 15px;
  border-radius: 50%;
  text-align: center;
  height: 50vw;
  width: 50vw;
  overflow: auto;
}

input, textarea, button {
  border: solid;
  border-radius: 30px;
  padding: 20px;
}

input, textarea, button :focus {
  border: solid;
  border-radius: 30px;
  padding: 20px;
  outline: none;
}

textarea {
  width: 50%;
}

input{
  width: 20%;
  text-align: center;
  font-size: 1em;
}

label {
  margin-top: 5%;
}

button {
  margin-top: 5%;
}
button:focus {
  margin-top: 5%;
  outline: none;
}

body {
  text-align: center;
}
